<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>分户验收</title>
        <!-- Bootstrap -->
        <link href="<?php echo base_url()."style/bootstrap/css/bootstrap.min.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/bootstr/css/bootstrap-responsive.min.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/vendors/easypiechart/jquery.easy-pie-chart.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/assets/styles.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/assets/DT_bootstrap.css"?>" rel="stylesheet" media="screen">
        <script src="<?php echo base_url()."style/vendors/modernizr-2.6.2-respond-1.1.0.min.js"?>"></script>
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo site_url('pj_all') ?>">江门市建设工程施工质量管理系统</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> 我的账号<i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a  href="<?php echo site_url('login/login_out')?>">账号注销</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="active">
                                <a >项目管理</a>
                            </li>
                            <li class="">
                                <a >综合查询</a>
                            </li>
                            <li class="">
                                <a  >任务通知</a>
                            </li>
                            <li class="">
                                <a  href="<?php echo site_url('sy_pho')?>">系统管理</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="<?php echo site_url('pj_send/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i> 材料见证送检</a>
                        </li>
                        <li>
                            <a href="<?php echo site_url('commission/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>第三方实体检测 </a>
                        </li>
                        <li>
                            <a href="<?php echo site_url('material_self/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>材料自检</a>
                        </li>
                        <li>
                            <a href="<?php echo site_url('entity_self/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>实体质量自检</a>
                        </li>
                        <!--下面2个模块(监督抽检)只有监督机构和检测单位可以查看-->
                        <?php 
                            if($unit[0]['单位']=='检测单位'||$unit[0]['单位']=='监督机构'||$unit[0]['单位']=='管理员'){
                        ?>
                        <li>
                            <a href="<?php echo site_url('Supervision_material/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>材料监督抽检</a>
                        </li>
                        <li>
                            <a href="<?php echo site_url('Supervision_entity/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>实体质量监督抽检 </a>
                        </li>
                        <?php
                            }
                        ?>
                        <li>
                            <a href="<?php echo site_url('Division/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>分部验收</a>
                        </li>
                        <li class="active">
                            <a href="<?php echo site_url('Household/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>分户验收</a>
                        </li>
                        <li>
                            <a href="<?php echo site_url('pj_query/index/'.$household_timestamp) ?>"><i class="icon-chevron-right"></i>综合查询</a>
                        </li>
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                    	<div class="navbar">
                        	<div class="nav nav-tabs">
                                <ul class="nav nav-tabs">
                                  <li role="presentation" class="active"><a href="#about-1" data-toggle="tab">申请</a></li>
                                  <li role="presentation"><a href="#about-2" data-toggle="tab">确认</a></li>
                                  <li role="presentation"><a href="#about-3" data-toggle="tab">审批</a></li>
                                </ul>
                        	</div>
                    	</div>
                    </div>
                    <!--分户验收列表-->
                <div class="tab-content">
                    	<div class="tab-pane active" id="about-1">
		                    <div class="row-fluid" >
		                        <div class="block">
		                            <div class="navbar navbar-inner block-header">
		                                <div class="muted pull-left">工程列表</div>
		                            </div>
		                            <div class="block-content collapse in">
		                                <div class="span12">
		                                   <div class="table-toolbar">
		                                      <div class="btn-group pull-right">
		                                         <button data-toggle="dropdown" class="btn dropdown-toggle">工具<span class="caret"></span></button>
		                                         <ul class="dropdown-menu">
		                                            <li><a href="#">打印</a></li>
		                                            <li><a href="#">PDF</a></li>
		                                            <li><a href="#">导出</a></li>
		                                        
		                                         </ul>
		                                      </div>
		                                   </div>
		                                    
		                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example1">
		                                        <thead>
		                                            <tr>
		                                            	<th>id</th>
		                                                <th>栋号</th>
		                                                <th>层数</th>
		                                                <th>层户数</th>
		                                                <th>起始日期</th>
		                                                <th>完成时间</th>
		                                                <th>操作</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                            <?php  foreach($application_data as $v): ?>
		                                                <tr class="">
		                                                	<td><?php echo $v['id'] ?></td>
		                                                    <td><?php echo $v['栋号'] ?></td>
		                                                    <td><?php echo $v['楼层'] ?></td>
		                                                    <td><?php echo $v['户数'] ?></td>
		                                                    <td><?php echo $v['起始日期'] ?></td>
		                                                    <td><?php echo $v['验收时间'] ?></td>
		                                                    <td>
		                                                    	<a href="<?php echo site_url().'/Household/check'.'/'.$v['id'].'/'.$household_timestamp ?>" type="button" class="btn btn-default">查看</a>
		                                                    	<!-- <a href="" type="button" class="btn btn-default">删除</a> -->
		                                                    </td>
		                                                </tr>
		                                            <?php  endforeach ?>
		                                        </tbody>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
                    <!--确认-->
                    	<div class="tab-pane" id="about-2">
		                    <div class="row-fluid" >
		                        <div class="block">
		                            <div class="navbar navbar-inner block-header">
		                                <div class="muted pull-left">工程列表</div>
		                            </div>
		                            <div class="block-content collapse in">
		                                <div class="span12">
		                                   <div class="table-toolbar">
		                                      <div class="btn-group pull-right">
		                                         <button data-toggle="dropdown" class="btn dropdown-toggle">工具<span class="caret"></span></button>
		                                         <ul class="dropdown-menu">
		                                            <li><a href="#">打印</a></li>
		                                            <li><a href="#">PDF</a></li>
		                                            <li><a href="#">导出</a></li>
		                                        
		                                         </ul>
		                                      </div>
		                                   </div>
		                                    
		                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
		                                        <thead>
		                                            <tr>
		                                            	<th>id</th>
		                                                <th>栋号</th>
		                                                <th>层数</th>
		                                                <th>层户数</th>
		                                                <th>起始日期</th>
		                                                <th>完成时间</th>
		                                                <th>操作</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                                <?php  foreach($confirmation_data as $v): ?>
		                                                <tr class="">
		                                                	<td><?php echo $v['id'] ?></td>
		                                                    <td><?php echo $v['栋号'] ?></td>
		                                                    <td><?php echo $v['楼层'] ?></td>
		                                                    <td><?php echo $v['户数'] ?></td>
		                                                    <td><?php echo $v['起始日期'] ?></td>
		                                                    <td><?php echo $v['验收时间'] ?></td>
		                                                    <td>
		                                                    	<a href="<?php echo site_url().'/Household/check'.'/'.$v['id'].'/'.$household_timestamp ?>" type="button" class="btn btn-default">查看</a>
		                                                    	<!-- <a href="" type="button" class="btn btn-default">删除</a> -->
		                                                    </td>
		                                                </tr>
		                                            <?php  endforeach ?>
		                                        </tbody>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
                    <!--审批-->
                    	<div class="tab-pane" id="about-3">
		                    <div class="row-fluid" >
		                        <div class="block">
		                            <div class="navbar navbar-inner block-header">
		                                <div class="muted pull-left">工程列表</div>
		                            </div>
		                            <div class="block-content collapse in">
		                                <div class="span12">
		                                   <div class="table-toolbar">
		                                      <div class="btn-group pull-right">
		                                         <button data-toggle="dropdown" class="btn dropdown-toggle">工具<span class="caret"></span></button>
		                                         <ul class="dropdown-menu">
		                                            <li><a href="#">打印</a></li>
		                                            <li><a href="#">PDF</a></li>
		                                            <li><a href="#">导出</a></li>
		                                        
		                                         </ul>
		                                      </div>
		                                   </div>
		                                    
		                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example3">
		                                        <thead>
		                                            <tr>
		                                            	<th>id</th>
		                                                <th>栋号</th>
		                                                <th>层数</th>
		                                                <th>层户数</th>
		                                                <th>起始日期</th>
		                                                <th>完成时间</th>
		                                                <th>操作</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                                <?php  foreach($approval_data as $v): ?>
		                                                <tr class="">
		                                                	<td><?php echo $v['id'] ?></td>
		                                                    <td><?php echo $v['栋号'] ?></td>
		                                                    <td><?php echo $v['楼层'] ?></td>
		                                                    <td><?php echo $v['户数'] ?></td>
		                                                    <td><?php echo $v['起始日期'] ?></td>
		                                                    <td><?php echo $v['验收时间'] ?></td>
		                                                    <td>
		                                                    	<a href="<?php echo site_url().'/Household/check'.'/'.$v['id'].'/'.$household_timestamp ?>" type="button" class="btn btn-default">查看</a>
		                                                    	<!-- <a href="" type="button" class="btn btn-default">删除</a> -->
		                                                    </td>
		                                                </tr>
		                                            <?php  endforeach ?>
		                                        </tbody>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                    <!--工程列表-->
                </div>
            </div>
            <hr>
            <!--<footer>
                <p>&copy; K 2017</p>
            </footer>-->
        </div>
        <!--/.fluid-container-->
        <script src="<?php echo base_url()."style/vendors/jquery-1.9.1.js"?>"></script>
        <script src="<?php echo base_url()."style/bootstrap/js/bootstrap.min.js"?>"></script>
        <script src="<?php echo base_url()."style/vendors/datatables/js/jquery.dataTables.min.js"?>"></script>
        <script src="<?php echo base_url()."style/assets/scripts.js"?>"></script>
        <script src="<?php echo base_url()."style/assets/DT_bootstrap.js"?>"></script>
        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
        });
        </script>
    </body>

</html>