<!DOCTYPE html>
<html>
    
    <head>
        <title>手机账号新建</title>
        <!-- Bootstrap -->
        <link href="<?php echo base_url()."style/bootstrap/css/bootstrap.min.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/bootstrap/css/bootstrap-responsive.min.css"?>" rel="stylesheet" media="screen">
        <link href="<?php echo base_url()."style/assets/styles.css"?>" rel="stylesheet" media="screen">
        <script src="<?php echo base_url()."style/vendors/modernizr-2.6.2-respond-1.1.0.min.js"?>"></script>
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo site_url('pj_all')?>">江门市建设工程施工质量管理系统</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> 我的账号 <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">个人信息</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="<?php echo site_url('login')?>">注销</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="">
                                <a href="#">项目管理</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">综合查询</a>
                            </li>
                            <li class="">
                                <a href="#" role="" class="" data-toggle="">任务通知</a>
                            </li>
                            <li  class="active">
                                <a href="#" role="button" class="" data-toggle="">系统管理</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="#"><i class="icon-chevron-right"></i>手机账号新建</a>
                        </li>
                    </ul>
                </div>
                <!--/span-->
                <div class="span9" id="content">

                     <!-- wizard -->
                    <div class="row-fluid section">
                         <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">账号信息</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div id="rootwizard">
                                        <div class="navbar">
                                          <div class="navbar-inner">
                                            <div class="container">
                                        <ul>
                                            <li><a href="#tab1" data-toggle="tab">基本信息</a></li>
                                        </ul>
                                         </div>
                                          </div>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab1">
                                                <form action="<?php echo site_url('sy_pho/save')?>" method="POST" class="form-horizontal" >
                                                  <fieldset>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">姓名:</label>
                                                      <div class="controls">
                                                        <input name="name" class="input-xlarge focused" id="name" type="text" required="required"/>
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">账号:</label>
                                                      <div class="controls">
                                                        <input name="account" class="input-xlarge focused" id="account"  type="text" onchange="check(this.id)" required="required"/>
                                                        <input  style="border:0px;" name="acc_mas" class="input-xlarge focused" id="acc_mas"  type="text"/> 
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">密码:</label>
                                                      <div class="controls">
                                                        <input name="password" class="input-xlarge focused" id="password"  type="password" onchange="check(this.id)" required="required"/>
                                                        <input  style="border:0px;" name="pass_mas" class="input-xlarge focused" id="pass_mas"  /> 
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">确认密码:</label>
                                                      <div class="controls">
                                                        <input name="" class="input-xlarge focused" id="pass"  type="password" onchange="check(this.id)" />
                                                        <input  style="border:0px;" name="password_mas" class="input-xlarge focused" id="password_mas"  /> 
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">邮箱:</label>
                                                      <div class="controls">
                                                        <input name="mail" class="input-xlarge focused" id="mail"  type="email" />
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">手机:</label>
                                                      <div class="controls">
                                                        <input name="phone" class="input-xlarge focused" id="phone"  type="text" required="required" />
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label  class="control-label" for="focusedInput">单位:</label>
                                                      <div class="controls">
                                                        <select id="part" name="part">
                                                        	<option></option>
                                                        	<option>施工单位</option>
                                                        	<option>监理单位</option>
                                                        	<option>检测单位</option>
                                                        	<option>监督单位</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                     <div class="form-actions">
                                                      <button id="save_mas" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                      <button type="reset" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                    </div>
                                                  </fieldset>
                                                </form>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
	            <!-- /wizard -->
                </div>
            </div>
        </div>
        <!--/.fluid-container-->
        <link href="<?echo base_url()."style/vendors/datepicker.css"?>" rel="stylesheet" media="screen">
        <link href="<?echo base_url()."style/vendors/uniform.default.css"?>" rel="stylesheet" media="screen">
        <link href="<?echo base_url()."style/vendors/chosen.min.css"?>" rel="stylesheet" media="screen">

        <link href="<?echo base_url()."style/vendors/wysiwyg/bootstrap-wysihtml5.css"?>" rel="stylesheet" media="screen">

        <script src="<?php echo base_url()."style/vendors/jquery-1.9.1.js"?>"></script>
        <script src="<?php echo base_url()."style/bootstrap/js/bootstrap.min.js"?>"></script>
        <script src="<?php echo base_url()."style/vendors/jquery.uniform.min.js"?>"></script>
        <script src="<?php echo base_url()."style/vendors/chosen.jquery.min.js"?>"></script>
        <script src="<?php echo base_url()."style/vendors/bootstrap-datepicker.js"?>"></script>

        <script src="<?php echo base_url()."style/vendors/wysiwyg/wysihtml5-0.3.0.js"?>"></script>
        <script src="<?php echo base_url()."style/vendors/wysiwyg/bootstrap-wysihtml5.js"?>"></script>

        <script src="<?php echo base_url()."style/vendors/wizard/jquery.bootstrap.wizard.min.js"?>"></script>

    	<script type="text/javascript" src="<?php echo base_url()."style/vendors/jquery-validation/dist/jquery.validate.min.js"?>"></script>
    	<script src="<?php echo base_url()."style/assets/form-validation.js"?>"></script>
            
    	<script src="<?php echo base_url()."style/assets/scripts.js"?>"></script>
        <script>

        	jQuery(document).ready(function() {   
        	   FormValidation.init();
        	});
    	

            $(function() {
                $(".datepicker").datepicker();
                $(".uniform_on").uniform();
                $(".chzn-select").chosen();
                $('.textarea').wysihtml5();

                $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index+1;
                    var $percent = ($current/$total) * 100;
                    $('#rootwizard').find('.bar').css({width:$percent+'%'});
                    // If it's the last tab then hide the last button and show the finish instead
                    if($current >= $total) {
                        $('#rootwizard').find('.pager .next').hide();
                        $('#rootwizard').find('.pager .finish').show();
                        $('#rootwizard').find('.pager .finish').removeClass('disabled');
                    } else {
                        $('#rootwizard').find('.pager .next').show();
                        $('#rootwizard').find('.pager .finish').hide();
                    }
                }});
                $('#rootwizard .finish').click(function() {
                    alert('Finished!, Starting over!');
                    $('#rootwizard').find("a[href*='tab1']").trigger('click');
                });
            });

            //获取当前时间戳
//          var timestamp = new Date().getTime();
//          document.getElementById('timestamp').value = timestamp;
        </script>
        <!--账号密码动态验证-->
        <script>
        	function check(falg){
        		if(falg == 'pass'){
        			var che_passw = document.getElementById('password');
        			var pass = document.getElementById('pass');
        			var showmas = document.getElementById('password_mas');
        			if(pass.value == che_passw.value ){
        				showmas.style.color = '#8FBC8F';
        				showmas.value = "已确认";
        			}else{
        				showmas.style.color = '#FF0000';
        				showmas.value = "两次输入的密码不一致";
        				
        			}
        		}else if(falg == 'password'){
        			var word = document.getElementById('password');
        			var wordstr = document.getElementById('password').value;
        			var showmas = document.getElementById('pass_mas');
        			if(wordstr.length < 6 ){
        				showmas.value = "密码需大于六位";
        				showmas.style.color = '#FF0000';
        				var pass = document.getElementById('pass');
        				pass.value = '';
        			}else{
        				showmas.style.color = '#8FBC8F';
        				showmas.value = "密码合法";
        				var pass = document.getElementById('pass');
        				pass.value = '';
        			}
        		}else if(falg == 'account'){
        			var mas = document.getElementById('account').value;
        			var controller = "<?php echo site_url('sy_pho/check') ?>";
        			$.ajax({
        				url:controller,
        				type:'post',
		        		aysnc:true,
		        		data:{
		        			mas:mas
		        		},
		        		success:function(data){
		        			//判断返回值，如果返回‘1’，则账号已经存在；返回’0’则不存在，可使用
		        			if(data == 0){
		        				var showmas = document.getElementById('acc_mas');
		        				showmas.value = "账号合法";
		        				showmas.style.color = '#8FBC8F';
		        			}else{
		        				var showmas = document.getElementById('acc_mas');
		        				showmas.value = "账号已存在";
		        				showmas.style.color = '#FF0000';
		        			}
		        		}
        			});
        		}
        	}
        	
//      	var SAVE = document.getElementById('save_mas');
//      	SAVE.addEventListener('click',function(){
//      		var mas_name = document.getElementById('name');
//      		var mas_accn = document.getElementById('account');
//      		var mas_pass = document.getElementById('pass');
//      		var mas_mali = document.getElementById('mail');
//      		var mas_phoe = document.getElementById('phone');
//      		var mas_part = document.getElementById('part');
//      		
//      		var account_mas = document.getElementById('acc_mas').value;
//      		var pass_mas = document.getElementById('password_mas').value;
//      		if(account_mas=='账号合法'&&pass_mas=='已确认'){
//      			var controller = "<?php echo site_url('sy_pho/save') ?>";
//	        		$.ajax({
//	        			url:controller,
//	    				type:'post',
//		        		aysnc:true,
//		        		data:{
//		        			name:mas_name.value,
//		        			accn:mas_accn.value,
//		        			pass:mas_pass.value,
//		        			mail:mas_mali.value,
//		        			phoe:mas_phoe.value,
//		        			part:mas_part.value
//		        		},
//		        		success:function(data){
//		        		}
//	        		});
//      		}else{
//      			alert('请将信息填写完整');
//      			alert(account_mas+'/'+pass_mas);
//      		}
//      	});
        </script>
    </body>

</html>